[2014-06-18 10:15] lyndonnixon opened #1 "THD: wrong disambiguation of the entity "Martena Museum""
"Martena Museum" in the transcript was labeled with http://nl.dbpedia.org/resource/Museum (by THD) even though http://nl.dbpedia.org/resource/Museum_Martena exists and "Martena Museum" redirects to it.

[2014-06-18 10:17] lyndonnixon opened #2 "Normalise YAGO to DBPedia?"
For the town 'Franeker' a YAGO URI was used to identify it. YAGO has owl:sameAs to DBPedia so we could normalise YAGO URIs to DBPedia ones?

[2014-06-18 10:19] lyndonnixon opened #3 "New annotation process for Art Objects in TKK episodes"
For art objects, we need a new type of RDF annotation which instantiates an entity of type AAT Art Object and derives its properties and values from entities extracted in the video chapter in which the object occurs.
See http://www.linkedtv.eu/wiki/index.php/Creating_rich_descriptions_of_cultural_artefacts_out_of_a_TV_program
Assuming WP1 can provide temporal boundaries for an art object in the ep

[2014-06-18 10:39] lyndonnixon opened #4 "UEP: duplicate results"
Images doubled in results, from both museummartena.nl and www.museummartena.nl

[2014-06-18 10:54] lyndonnixon opened #5 "UEP: crawling the right sites the right way?"
Difficulty getting good results with Nelleke van der Krogt (0) or Hessel Martena (0).

Is the content linked to from http://avro.nl/tussenkunstenkitsch/Gemist/ being crawled? (91 video, 41 article for Nelleke van der Krogt, but just 18 - 10 videos - if "episodes" are ignored)

Also from the main AVRO site, where 410 items are at http://avro.nl/zoeken/#search:nelleke van der krogt. (355 video)   bu

[2014-06-18 11:04] lyndonnixon opened #6 "EURECOM MediaCollector: tighten up YouTube responses"
e.g. 'Hessel Martena' gets YouTube videos with just "Hessel" in the description besides 2 relevant video matches which have Hessel van Martena in their description.

With actors/presenters one could combine searches with TV/film appearances, e.g.
https://www.youtube.com/results?search_query=intitle%3A%22Opsporing+Verzocht%22+%22nelleke+van+der+krogt%22

Top 2 matches are directly relevant, not sur

[2014-06-18 11:06] lyndonnixon opened #7 "New APIs and content sources for LinkedTV"
Identified as interesting for LinkedTV enrichment:

Foursquare Venues: provide address, telephone, user tips, photos
Flickr: geolocated photo search
Instagram: geolocated photo search
Google or Open Street Map:  map image of place or location
Rijksstudio  (art objects in a Pinterest-like site)

[2014-06-18 15:46] kliegr commented on #2
THD provides both DBpedia (http://dbpedia.org/resource/Franeker) and YAGO URI. Can you doublecheck that the DBpedia URI is not also listed in the results?

[2014-06-23 14:44] kliegr commented on #5
1) "Difficulty getting good results with Nelleke van der Krogt (0) or Hessel Martena (0)."
The websites are being re-crawled after the new release.

2) Is the content linked to from http://avro.nl/tussenkunstenkitsch/Gemist/ being crawled? (91 video, 41 article for Nelleke van der Krogt, but just 18 - 10 videos - if "episodes" are ignored)

The links to videos are embedded in a custom way, which i

[2014-06-23 14:44] #5 closed, assigned to kliegr

[2014-07-18 08:13] jblom opened #8 "EURECOM - TVEnricher: support input of one or more entity labels"
The TVEnricher should be able to accept 1 or multiple entity labels to start the process of finding enrichments.

Both GET or POST would be fine to accept the input. Please also provide examples of this functionality when finished.

[2014-07-18 08:17] jblom opened #9 "EURECOM - TVEnricher: support JSON response, containing enrichment results"
The JSON response should be in the format specified in:

https://docs.google.com/a/beeldengeluid.nl/document/d/10BLFESGbqJr_AOxjF0eTjOEGSvFu4qJNm2nrX2lS3l4/edit#heading=h.14w9r33san65

[2014-07-21 13:09] lyndonnixon commented on #3
Related issue for WP1:  https://github.com/linkedtv/wp1/issues/2

[2014-07-21 13:13] lyndonnixon opened #10 "UEP/EURECOM getting 5 star enrichment data out of present CH sources"
"we may need that there is additional metadata extraction over the key cultural heritage content sources such as Europeana (but also other sites which appear to hide useful knowledge about artworks within unstructured HTML) so that we are able to make more structured queries such as "what are similar art objects along this facet"

[2014-07-21 13:16] lyndonnixon opened #11 "UEP: check and possibly change crawling approach to specific White List sites"
Testing with AVRO.nl. see http://www.linkedtv.eu/wiki/index.php/Enrichment_types_in_TKK#Broadcasters_archive
The useful media enrichments on this site need to be extracted from the Player pages (video link or HTML link + associated metadata for linking to entities)

[2014-07-22 15:01] lyndonnixon opened #12 "RBBs SRT files may be stripping out special characters"
e.g. http://api.linkedtv.eu/data/RBB/srt/BERLIN-2013-04-04-21-45-53-04042145.srt

187
00:11:02,600 --> 00:11:04,600
Auer Steinen nichts.

(should be "Außer")

[2014-07-22 15:22] rtroncy commented on #12
curl -u admin:linkedtv -I http://api.linkedtv.eu/data/RBB/srt/BERLIN-2013-04-04-21-45-53-04042145.srt returns:

HTTP/1.1 200 OK
Date: Tue, 22 Jul 2014 15:21:17 GMT
Server: Apache/2.2.15 (CentOS)
Last-Modified: Fri, 09 Aug 2013 14:39:02 GMT
ETag: "921a85-9b2d-4e384bc66fb78"
Accept-Ranges: bytes
Content-Length: 39725
Connection: close
Content-Type: text/plain; charset=UTF-8

So it does return a UTF-

[2014-07-23 13:03] jthomsen commented on #12
we checked it, and yes there was a bug in the conversion script; now resolved (but we won't reprocess past STL files unless there is a real necessity)

[2014-07-23 13:06] rtroncy commented on #12
Well, there is a necessity, since some German characters have been removed in the file submitted to NERD, so not all potential entities have been found which negatively impact the annotations and enrichments evaluations !

[2014-07-23 13:50] jthomsen commented on #12
mmh, well, yes, but this would then make sense only if we also would re-tv2rdf and re-store it in the repository. However, this again would require a complete flush beforehand and complete re-insert. Not talking about the time needed to do this, the potential harm of this process would be currently much bigger than the unquestioned benefit of having correctly recognized also these entities; for th

[2014-07-23 14:18] rtroncy commented on #12
I would hope that this process is completely automatized from now on, and if it is not yet, why aren't you automatizing it? Flushing is one command and TV2RDF calls will just take less than 1 min to be executed. I don't really understand the time issue.

Is there a way to quickly know from the platform dashboard how many media resources have been processed? Ideally, there should also be a counter

[2014-07-23 15:51] jthomsen commented on #12
actually, no, not  currently; but these are definitively worthful features; I'll create corresponding github issues to track them

[2014-07-24 11:09] lyndonnixon opened #13 "UEP/EURECOM harmonize on queries for multiple entities"
" In a nutshell, there are many (search) services under
MediaCollector and they have a different behavior when multiple terms is
used in the query. We have start to work on harmonizing this, having a
more complex logic in MediaCollector and this is unfinished. What I
noticed is that we also have a bug in the sense that what is submitted
to MediaCollector for the white list does not return exactly

[2014-07-24 11:48] rtroncy opened #14 "Harmonizing the source names coming from UEP unstructured search module"
Take this simple query to the MediaCollector: http://linkedtv.eurecom.fr/api/mediacollector/search/SV/spiegel

As you can see, results come from 12 different source: Europeana, YouTube, WikiMediaCommons, and then 9 sources crawled by the UEP unstructured search module.

Those sources do NOT have a normalized names, some being even malformed URI. This has triggered a bug in TVEnricher that creates

[2014-07-28 12:08] kliegr commented on #11
I believe this is  the same issue as "there is a total of ONE video coming from RBBs White List." reported on the mailing list.

It seems that the culprit is not the indexing but retrieval. The recommender query formulation for MediaCollector seems to be overly restrictive, yielding very low recall. We are looking how to fix this problem, probably by introducing adaptive querying layer as proposed

[2014-07-28 12:22] kliegr commented on #13
Lyndon, can I close this as a duplicate of #14?

[2014-07-28 12:22] kliegr commented on #14
Thanks for reporting, we are looking into this. The problem seems to be  a bug in the irapi layer of UEP Unstructured Search.

[2014-07-28 12:28] rtroncy commented on #13
No, this is not the same bug.
- #14 is about the (human friendly) label of the source being crawled by the UEP module.
- #13 is about how to better integrate the UEP module with MediaCollector/TVEnricher when multiple entities (strings actually) are used in the query

[2014-08-01 15:46] lyndonnixon commented on #11
Dashboard tells me you indexed 4 557 webpages at avro.nl and have indexed 717 videos. I assume this is subsumptive, i.e. the videos are all on webpages which are indexed, What is not clear is if other webpages had video you didnt index because you couldnt get a video URL for example - IMHO if you know a page contains video you could index it as video but provide only a micropostUrl and no mediaUrl

[2014-08-04 08:41] kliegr commented on #11
There are two possible problems. First, the crawler does index videos at avro.nl/*/player. There are 557 videos indexed. However, our AvroNLExtractor seems to fail correctly identify the title for the video, which results in these videos not being retrieved in response to a query. This might have been caused by an update to the Avro website.
 As to the count of the indexed videos, there are at lea

[2014-08-04 08:54] kliegr commented on #14
This is fixed in the new release, the preview (for the spiegel query) is at http://ir-dev.lmcloud.vse.cz/irapi/media-server2/?q=%22spiegel%22&media_type=image

[2014-08-04 12:37] lyndonnixon commented on #11
(Tomas, email, 4 August)
We have developed several prototypical extractors for media items for
the most important whitelist sites. RBB Online, SWR and AVRO are among
those. However, when the website layout  changes, we need to adapt the
extractor.
This seems to be actually the reason for this bug
https://github.com/linkedtv/wp2/issues/11

[2014-08-04 12:38] lyndonnixon commented on #11
As you point out, in some cases the crawler is not associating title and description text with the media object. In others, I wonder if the lack of an extractable media link is
causing the website to be indexed but not the image/video as image/video (as I suggested, enrichment could point to a media file when it can but also fall back to a link to a HTML page with embedded media when necessary). F

[2014-08-04 12:48] kliegr commented on #11
The most aggressive timeline is to fine tune and update the
extractors for the top white-listed sites  by the end of  September,
and have an updated index in the October. (more in email)

[2014-08-05 08:09] rtroncy commented on #1
I'm not sure I understand the issue: http://nl.dbpedia.org/resource/Museum_Martena and http://nl.dbpedia.org/resource/Museum are two different resources, and I don't see any redirect between those two resources.

It seems to me that the issue is wrongly labeled, but that you're basically disappointed that THD didn't provide a good enough disambiguation URI for the entity it has detected. Please, c

[2014-08-05 08:15] jthomsen opened #15 "EURECOM - TVEnricher results include some adult content"
reported by Oliver as a test result testing http://editortool.linkedtv.eu/rbb/adb65e0a-642b-432f-aa86-c296dab0375a

[2014-08-05 08:16] rtroncy commented on #2
@lyndonnixon Can you please follow-up on this? We need more information to trace the problem, give us the annotation where this entity is used, etc.

[2014-08-05 08:25] rtroncy commented on #6
A priori, one could get the desired effect with the new  'on-demand' TVEnricher functionality by issue-ing the right constrained query

[2014-08-05 08:25] #6 closed, assigned to jluisred

[2014-08-05 08:29] rtroncy commented on #7
Unclear feature request: Flickr, Instagram, etc. are already part of MediaCollector/TVEnricher

Foursquare venues are very noisy in general, with a lot of duplicates. There was no such a request from the content provider which do not seem to like SocialMedia in general.

Unclear feature request regarding maps ... we have already geo-coordinates and a second screen app can already display a map cen

[2014-08-05 08:29] #7 closed, assigned to rtroncy

[2014-08-05 08:30] rtroncy commented on #8
See http://www.linkedtv.eu/wiki/index.php/Tvenricher for examples

[2014-08-05 08:30] #8 closed, assigned to jluisred

[2014-08-05 08:32] rtroncy commented on #9
Done, see http://www.linkedtv.eu/wiki/index.php/Tvenricher for the documentation

[2014-08-05 08:32] #9 closed, assigned to jluisred

[2014-08-05 08:40] rtroncy commented on #14
Great! When will the new release be deployed so that those changes are cascaded to MediaCollector/TVEnricher?

Can we also have a discussion on what should be the correct labels for the various enrichment sources?

[2014-08-05 08:43] kliegr commented on #13
In the new release (in beta) we have improved on how multiple entities in a  query are handled. Currently, if three entities  (keywords) are in the query, all of them have to be found in the document for it to be marked as  relevant. This is why the following query from WP5 Scenario realisation returns empty result set:
http://ir.lmcloud.vse.cz/irapi/media-server/?q=Spargel+Brandenburg+K%C3%A4lte&

[2014-08-05 08:48] rtroncy commented on #13
Great! How do we get this feeling of different relevancy among the documents returned? There is not confidence (relevance) score associated with the results. The order seems crucially important, right?

[2014-08-05 08:51] rtroncy commented on #12
Closing this  bug since it is now handled at https://github.com/linkedtv/platform/issues/34 and https://github.com/linkedtv/platform/issues/35

[2014-08-05 08:51] #12 closed, assigned to jthomsen

[2014-08-05 08:55] rtroncy commented on #15
Explanations have been provided at https://lists.iais.fraunhofer.de/sympa/arc/linkedtv-hbbtv/2014-07/msg00027.html

[2014-08-05 08:55] #15 closed, assigned to rtroncy

[2014-08-05 08:57] kliegr commented on #1
After the last THD update,Museum Martena is now  correctly disambiguated as http://nl.dbpedia.org/resource/Museum_Martena, and assigned type http://dbpedia.org/ontology/Museum. You can verify at http://ner.vse.cz/thd/ by providing input "Museum Martena". Lyndon, can you check with your input and close the issue if the result is O.K.?

[2014-08-05 08:59] rtroncy commented on #14
There is a discrepancy: for social media sources, we use a human friend label (e.g. Flickr, Instagram, Facebook) while for whited list sources, a url (without protocol) is used

[2014-08-05 09:31] rtroncy commented on #5
Duplicate of #11

[2014-08-05 12:19] lyndonnixon commented on #1
@rtroncy Sorry if my issue was unclear. I supposed THD is matching strings to terms in DBPedia and YAGO, so could detect "Museum" as http://nl.dbpedia.org/resource/Museum  but not "Martena Museum"  because the DBPedia entity is labelled Museum Martena (http://nl.dbpedia.org/resource/Museum_Martena).

[2014-08-05 12:22] lyndonnixon commented on #1
@kliegr Actually the issue remains that the transcript has "Martena Museum" and this is not detected. Here is the original part of the subtitles which I just tested again with THD (below) and the string "Martena Museum" is labelled with http://nl.dbpedia.org/resource/Museum. I acknowledge this is a typical issue in entity extraction and just wondering if there are ideas how to fix it.

##

Deze me

[2014-08-05 12:27] lyndonnixon commented on #2
@kliegr @rtroncy  I am looking at the automated results for http://www.linkedtv.eu/wiki/index.php/Scenario_realisation_final#TKK_Example
Follow the link under Annotation "Automated results sparql results"
You will see 3 YAGO URLs (Hessel and 2 x Franeker), no DBPedia equivalent

[2014-08-05 12:50] rtroncy commented on #1
@lyndonnixon Indeed, the issue was not clear. Your first assumption is a bit naive. The role of an named entity extractor is not just to do the simple job of matching string with a dictionary/gazetter/knowledge base but generally involves POS tagging and heavier NLP processing.

What you criticize is that none of the NER tool did correctly detect and disambiguate "Martena Museum". Doing a quick ex

[2014-08-05 12:57] lyndonnixon commented on #13
This is a good step in the right direction!

I agree with @rtroncy  that we need some relevancy score, or (for me at least) even just a field which indicates which of the 1-3 entities was matched for that document.

Note my feeling at http://www.linkedtv.eu/wiki/index.php/RBB_video_enrichment_process#Ranking_of_entities_and_organisation_of_linksets that the combination of entities is important for

[2014-08-05 13:26] rtroncy commented on #2
Hum, this is weird, since as you can see at http://nerd.eurecom.fr/annotation/1508533, THD correctly disambiguates "Franeker" with http://nl.dbpedia.org/resource/Franeker.

@jthomsen can you tell us when TV2RDF has been launched for the last time for the media resource http://data.linkedtv.eu/mediaresource/8a8187f2-3fc8-cb54-0140-7dccd76f0001 ? And whether this is the _good_ media resource to use

[2014-08-05 13:32] rtroncy commented on #13
Per minutes of today's telecon, there will be a new experimental field called "relevance" added in the enrichment results for which the value will be numerical and in the range [0,1]. Hence, enrichments will be ranked.

This is not yet what you call entity relevance. The Expansion service is described at http://www.linkedtv.eu/wiki/index.php/EntityExpansion. It typically expands an initial set of

[2014-08-05 14:19] jthomsen commented on #2
the last time TV2RDF has been launched on http://api.linkedtv.eu/mediaresource/8a8187f2-3fc8-cb54-0140-7dccd76f0001/ was 2014/06/25

whether this is the _good_ media resource for AVRO I don't know; I actually don't know which one they choose

[2014-08-05 14:33] rtroncy commented on #2
Is it not the role of the platform to know this information? It cannot really be the content providers. The one who is creating a new media resource UUID when there is a need for re-processing analysis / annotation / enrichment is the platform.

[2014-08-05 14:41] jthomsen commented on #2
ok, seems to have misunderstood what you meant by _good_ - on behalf of the platform this UUID is _good_ in the sense that it includes the most recent results available for this media resource

[2014-08-05 14:45] rtroncy commented on #2
@jluisred Can you look at why TV2RDF launched on the subtitles attached to http://data.linkedtv.eu/mediaresource/8a8187f2-3fc8-cb54-0140-7dccd76f0001 provides different results than NERD launched on a small excerpt (see above)?

[2014-08-05 14:50] jthomsen commented on #2
related files can be found in http://api.linkedtv.eu/mediaresource/8a8187f2-3fc8-cb54-0140-7dccd76f0001

[2014-08-05 14:56] rtroncy opened #16 "Integrate TV2Lucene into TVEnricher"
Once the [issue 33](https://github.com/linkedtv/platform/issues/33) has been solved, the Solr indexed will be regularly updated when new videos are ingested in the LinkedTV platform. There will be two additional functionalities available in TVEnricher:
1. **Search**: when calling TVEnricher "on-demand", the (entity) labels used in the query will be:
   - attached to some visual concepts using Word

[2014-08-05 15:25] rtroncy commented on #11
This "aggresive timeline" has been revised in today's WP2 Telecon, see also the minutes at http://www.linkedtv.eu/wiki/index.php/WP2/Telecon_05-08-14

[2014-08-05 16:04] jluisred commented on #2
Hello

Apparently the problem is not in TV2RDF but somewhere else...

If you take a look at the [RDF generated](http://linkedtv.eurecom.fr/tv2rdf/api/mediaresource/8a8187f2-3fc8-cb54-0140-7dccd76f0001/serialization?metadataType=subtitle) for that MediaResource in the TV2RDF service regarding the entity Franeker:
- The disambiguation URL ( http://yago-knowledge.org/resource/Franeker ) does not appe

[2014-08-05 16:09] jthomsen commented on #2
Hi @joseluis, thanks for checking! so it seems I have to check with @alisarioglu what possibly went wrong here (unfortunately he is on holidays right now)

[2014-08-05 16:27] rtroncy commented on #2
Thanks @jluisred for this thorough investigation.

@jthomsen There are more and more urgent issues that have to be dealt with! What is the ETA for this one?

[2014-08-05 21:33] jthomsen commented on #2
well, I will check this asap; in the worst case I'll have to leave it to @alisarioglu directly after his return; i.e. in that case ETA would be end of August

[2014-08-07 11:13] jluisred opened #17 "THD: 500 error when processing a long RBB subtitle"
This is a bug related to THD. We are trying to process the [rbb AKTUELL vom 04.04.2013 21:45 Uhr](http://data.linkedtv.eu/mediaresource/cbff5a80-a5b6-11e2-951c-f8bdfd0abfbd) media resource. Either calling THD directly or via NERD returns a  500 Internal Error from your service. In the details:

REST call:
https://ner.vse.cz/thd/api/v1/hypernyms?lang=de&entity_type=ne&provenance=thd,dbpedia&types_f

[2014-08-07 13:32] lyndonnixon commented on #12
Opening this again as Nico reports that 'z' is disappearing from RBB transcripts. (email 7 Aug 1441)

[2014-08-07 14:48] rtroncy commented on #12
@jthomsen needs to check if the stl file is a well-formed text and if the transformed srt file is a well-formed text (i.e. without 'z' character disappearing or German characters being stripped out)

[2014-08-11 08:35] m1ci commented on #17
This happens due to the length of the text - it is a very long text and a timeout occurs. Why don't you split and process small excerpts of the input text?

If I am not wrong, NERD does splitting/merging of texts.

[2014-08-12 06:59] lyndonnixon opened #18 "Ontology: add concept of 'dimension' of an entity or enrichment"
Jaap, 12.8.: "the concept of dimension/intension should be added to the LinkedTV model. It gives the user the flexibility to express the intention for using enrichments + entities"

[2014-08-12 07:10] jblom commented on #18
It could be expressed as an additional oa:motivatedBy attached to an annotation? For this we could choose from: oa:bookmarking, oa:classifying, oa:commenting, oa:describing, oa:editing, oa:highlighting, oa:identifying, oa:linking, oa:moderating, oa:questioning, oa:replying, oa:tagging

I'd say when dimensions could be things like: "background information", "opinions", etc oa:tagging seems the most

[2014-08-12 09:21] jluisred opened #19 "THD: Duplicated entities in JSON response"
Executing the following call against THD v.2:

curl --insecure -X POST --data-binary @BERLIN-2013-04-04-21-45-53-04042145_Chapter.txt "https://entityclassifier.eu/thd/api/v2/extraction?lang=de&entity_type=all&provenance=thd,dbpedia&types_filter=dbo&knowledge_base=linkedHypernymsDataset&priority_entity_linking=true&apikey=**************************&format=json"

The returned JSON contains many dupl

[2014-08-12 09:37] jluisred opened #20 "THD: need for getting a relevance score for the detected entities"
According to the [THD v.2 documentation](https://ner.vse.cz/thd/docs/api/v2/), THD does not expose any score regarding the relevance of the detected entities, in the way other extractors such as TextRazor or Alchemy do.

Those scores are useful and would help to better execute other processes such as Named Entity Expansion. Is there any plan to have something like this in THD as well?

[2014-08-12 11:55] rtroncy commented on #17
You're partially wrong @m1ci. Adding more and more logic to NERD is something we do carefully. In this case, one can split texts when we know precisely: what is the text limit that an extractor can deal with? how the extractor works internally, i.e. how the splitting should be done for not negatively impacting the NER detection. Hence, we will not do the same splitting if an extractor works at the

[2014-08-12 12:25] rtroncy commented on #18
First, if this is a bug related to the LinkedTV ontologies, it should be reported at https://github.com/linkedtv/ontologies.

Per [definition](http://www.w3.org/ns/oa#d4e555), each Annotation SHOULD have at least one oa:motivatedBy relationship to an instance of oa:Motivation, which is a subClass of skos:Concept. A number of pre-existing motivations have been registered in the [oa:motivationScheme

[2014-08-12 12:25] #18 closed, assigned to rtroncy

[2014-08-13 08:23] lyndonnixon commented on #3
Since it seems we can't rely on WP1 automatic segmentation to tell us the temporal fragment containing one distinct art object it seems this only becomes possible at the curation stage wherre an editor can create a chapter specifically to cover an art object. Michiel also already suggested to tackle this with manual preparation of the art object descriptions in this phase, but this still leaves op

[2014-08-13 08:23] #3 closed, assigned to rtroncy

[2014-08-13 17:34] m1ci commented on #19
The bug is solved - no more duplicated entities in the response.
Test request:

curl --insecure -X POST --data-binary @BERLIN-2013-04-04-21-45-53-04042145_Chapter.txt "https://entityclassifier.eu/thd/api/v2/extraction?lang=de&entity_type=all&provenance=thd,dbpedia&types_filter=dbo&knowledge_base=linkedHypernymsDataset&priority_entity_linking=true&apikey=xxxxxxxxxxxxxxxx&format=json"

[2014-08-13 20:52] #19 closed, assigned to kliegr

[2014-08-14 08:14] lyndonnixon opened #21 "TVEnricher gives back social media links that are really not relevant"
Neither TKK nor RBB want to have social media enrichments (unless, perhaps, if they come from white list channels)

[2014-08-14 08:35] rtroncy commented on #21
I'm tempted to close this non-issue if no evidences are given that this is actually the case, providing that adequate calls are being made to the service.

[2014-08-14 08:47] lyndonnixon opened #22 "so will it be possible to query for a specific dimension in the TVEnricher?"
(Jaap) e.g (tell me if I'm going too far):
query=resourceUri&dimension=relatedFragments
query=amsterdam+fauvism&dimension=SVwhitelist
query=amsterdam+fauvism&dimension=Europeana

(Lyndon) and that each dimension is clearly defined in terms of which underlying services are called with which configuration. Then we could maybe more quickly identify where there are discrepancies, e.g. your issue with

[2014-08-14 10:39] m1ci commented on #17
Hi, the issue is solved and without problems you can process the long RBB subtitle.

Test request:
curl --insecure -X POST --data-urlencode @BERLIN-2013-04-04-21-45-53-04042145.txt "http://entityclassifier.eu/thd/api/v2/extraction?lang=de&entity_type=all&provenance=thd,dbpedia&types_filter=dbo&knowledge_base=linkedHypernymsDataset&priority_entity_linking=true&apikey=xxxxxxxxxxxxxx&format=json"

Ba

[2014-08-14 12:13] rtroncy commented on #17
Thanks. I will close this issue for now.
If you expect a client to either split text before submitting it to THD or to send streams of text (in a client-side polling), you need to indicate what is the MAX size that THD handles. Do you have this information?

[2014-08-14 12:13] #17 closed, assigned to kliegr

[2014-08-14 14:38] rtroncy commented on #21
We have carefully checked what TVEnricher is doing. As per the [documentation](http://www.linkedtv.eu/wiki/index.php/Tvenricher), one MUST provide a set of parameters/values when POST-ing a media resource for enrichment:
- If broadcaster = RBB then enrichments come from ['YouTube', 'Arte7','UEP']
- If broadcaster = SV then enrichments come from ['YouTube','UEP','WikimediaCommons', 'Europeana']
  w

[2014-08-14 14:38] #21 closed, assigned to rtroncy

[2014-08-14 14:49] rtroncy commented on #22
TVEnricher can work in two modes: enriching a complete media resource OR on-demand enrichments, see also the [documentation](http://www.linkedtv.eu/wiki/index.php/Tvenricher)
1. Enriching a complete media resource:
   - The `broadcaster` parameter enables to select the set of sources that will be used for the enrichment process
   - If `broadcaster = RBB` then enrichments come from ['YouTube', 'Ar

[2014-08-18 09:21] lyndonnixon commented on #13
As an additional comment on this, I didnt see any indication in the TVEnricher documentation how multiple entities are handled in a query, e.g. qould q=Nelleke+van+der+Krogt be parsed as a single string or as four separate strings. @jluisred

[2014-08-18 09:23] lyndonnixon commented on #11
@rtroncy can you please add the precise timeline into this thread for ease of reference?
@kliegr sent my comments per mail on the revised avro.nl crawl, improved but not perfect:
- Crawl video from the other programme sections, like Presentatoren, Zoeken, Kunstuurmuseumgasten (since this is arguably more interesting than crosslinking to other TKK content)(ask Lotte for a list)
- Extract correctly

[2014-08-18 12:16] lyndonnixon commented on #13
Quick test on this revealed again still issues about how this is working (http://www.linkedtv.eu/wiki/index.php/RBB_video_enrichment_process#Automatic_Enrichment)

Instead of matching on title and description (again, RBB has this explicitly in the metadata of its HTML pages) you match on any text extracted from the webpage, so any search with "Brandenburg" for example gets lots of irrelevant resul

[2014-08-18 14:36] lyndonnixon commented on #22
I'm not sure this answers the issue. Strategy is an input parameter? e.g. combined doesn't make sense as an enrichment dimension.

Does the TVenricher response include a dimension field for each enrichment returned (or whatever else you may call it)

Dimensions are not one to one mapped to strategies. For example, while Europeana and TV2Lucene may well return results that all belong in a single di

[2014-08-19 08:11] lyndonnixon opened #23 "TVEnricher: enhance response format to feed ET/Player enrichment display"
@kliegr reported 18 August: "For webpages, we store both the meta title and description tags separately in the index, so it is not a problem for us to serialize them to the IRAPI response (if they are available in the page source code). Currently, the format does not have a suitable field, so it is a matter on agreeing on extension of the specification."

Propose that the micropost field contains

[2014-08-19 10:04] rtroncy commented on #13
@lyndonnixon TVEnricher documentation well describes what can be done at the moment in terms of queries. This issue is exactly about discrepancies when queries are conjunctive, and since this issue is not closed, we are still working on it. ETA = later this week

[2014-08-19 10:06] rtroncy commented on #13
@lyndonnixon Your second comment seems to be a different issue, i.e. how IRAPI is indexing / responding. If this is the case, please open a proper new issue. This issue is JUST about having the same results when calling IRAPI directly versus via TVEnricher, which, at the moment, is not the case (in particular for conjunctive queries).

[2014-08-19 10:56] rtroncy commented on #11
IRAPI udpate timeline, as reported by @kliegr:
- Focused crawler update for parts of avro.nl (wraps on-site video search of selected white-listed websites) ... 25/08
- Fix bug when encountering the string ".avi" in web pages wrongly indicating that there is a video to crawl ... 25/08
- Favor precision over recall in the indexing strategy ... 25/08
- Add a "relevance = value" field in the new resul

[2014-08-19 14:32] rtroncy commented on #22
I'm not saying that strategy = dimension. I have said that dimension has a slightly different (more specific) meaning when we coined this term after the focus groups experiments made by CWI.
I have stated that you can do what you want with this parameter. So, yes, strategy is an input parameter.

No, [TVEnricher](http://www.linkedtv.eu/wiki/index.php/Tvenricher) does not have such a 'dimension' fi

[2014-08-20 10:09] #22 closed, assigned to rtroncy

[2014-08-20 10:11] rtroncy commented on #14
@kliegr Will this issue also been fixed in the new release of IRAPI planned for 25/08/2014?

[2014-08-20 10:17] rtroncy commented on #1
@kliegr Any update on this issue? The recent test we performed sort of contradicts what you said during the [05/08/2014 Telecon](http://www.linkedtv.eu/wiki/index.php/WP2/Telecon_05-08-14) and THD seems to still wrongly disambiguate this resource.

The fact that an extractor made a mistake is normal. I'm more worried that you got different results than we do when using the same tool. Can you track

[2014-08-20 10:19] rtroncy commented on #2
Closing this issue since it is solved with the new install of Virtuoso and clean refresh of the data

[2014-08-20 10:19] #2 closed, assigned to kliegr

[2014-08-20 10:22] rtroncy commented on #4
@kliegr Can you clarify when this issue will be resolved: is it part of the 25/08 new release of IRAPI or is it part of a later mid-September release?

[2014-08-20 10:25] rtroncy commented on #20
Planned for the 25/08 new release of IRAPI according to the [WP2 telecon minutes](http://www.linkedtv.eu/wiki/index.php/WP2/Telecon_05-08-14)

[2014-08-20 10:30] rtroncy opened #24 "EntityExpansion: add the CSE as a parameter"
The [EntityExpansion service description](http://www.linkedtv.eu/wiki/index.php/EntityExpansion) indicates that a default CSE simulating a full complete Google Search is being used by default. A feature enhancement would be to add a user-provided CSE as a parameter to the service.

Recent evaluations show the added-value, see the [spreadsheet data](https://docs.google.com/spreadsheets/d/1_ip2mSnkE

[2014-08-20 10:34] rtroncy opened #25 "TVNewsEnricher: add the CSEs as parameters"
The [TVNewsEnricher service description](http://www.linkedtv.eu/wiki/index.php/TVNewsEnricher) indicates that various CSEs are used depending on API calls being made corresponding to enrichment dimensions. This is fixed for the early LinkedNews BBC prototype.

A feature enhancement would be to add user-provided CSEs as parameters to the service in order to replicate the prototype on RBB (German) c

[2014-08-20 12:27] kliegr commented on #1
I must have made a mistake when testing whether this problem is resolved. Let's leave this issue open for now, we will reinvestigate it.

[2014-08-21 14:10] lyndonnixon commented on #23
@jluisred what is the ETA for this update?

[2014-08-21 14:25] rtroncy commented on #23
This can hardly be before post St Gallen meeting due to already many issues resolving commitments for this week

[2014-08-22 10:09] kliegr commented on #4
This will not be part of the 25/08 release. The will be fixed by performing host normalization in the crawling phase.

[2014-08-22 10:10] rtroncy commented on #4
What is the ETA then?

[2014-08-22 10:38] kliegr commented on #4
The fix will be deployed on ~ 15/09. Depending on the exact solution, it will take additional time to propagate.

[2014-08-23 12:54] rtroncy commented on #16
TV2Lucene is now integrated into TVEnricher ... the documentation has been updated at http://www.linkedtv.eu/wiki/index.php/Tvenricher.  The goal is to propose enrichments pointing to fragments of programs that went to the LinkedTV pipeline

There are two usages of TV2Lucene depending on the input:
- Input = a query string. The query string is used to query one of the LinkedTV index, see the [api

[2014-08-23 12:54] #16 closed, assigned to jluisred

[2014-08-23 14:19] rtroncy opened #26 "TV2RDF: pick up the SV metadata format expressed in OAI-PMH XML (Dublin Core)"
[TV2RDF](http://www.linkedtv.eu/wiki/index.php/Tv2rdf) can convert legacy metadata into the LinkedTV ontology model. So far, it can only read TVAnytime as a legacy metadata format.

The idea is to also support the OAI-PMH XML (Dublin Core) schema provided by SV.
See also the examples at https://lists.iais.fraunhofer.de/sympa/arc/linkedtv-wp2/2014-07/msg00036.html

[2014-08-24 11:00] jluisred commented on #24
Both REST API calls in EntityExpansion (representative/relevant) include a new query parameter "cse" which allows to specify the ID of a Google Custom Search Engine to be used during the collection of related documents.

For more details and examples see the [EntityExpansion](http://www.linkedtv.eu/wiki/index.php/EntityExpansion#REST_API_calls) documentation.

[2014-08-24 11:00] #24 closed, assigned to jluisred

[2014-08-24 13:39] jluisred commented on #25
The four REST API calls in TVNewsEnricher (Opinion/OtherMedia/Timeline/inDepth) include a new query parameter "cse" which allows to specify the ID of the Google Custom Search engine to be used during the collection of related documents.

Example:
curl -X GET "http://linkedtv.eurecom.fr/newsenricher/api/timeline?query=snowden&startdate=20130313&enddate=20140116&cse=CSE_ID&limit=50" --header "Conten

[2014-08-24 13:39] #25 closed, assigned to jluisred

[2014-08-24 20:12] jluisred commented on #13
Solved.  The same query "Nelleke+van+der+krogt" launched on the different services:

IRAPI:
http://ir.lmcloud.vse.cz/irapi/media-server/?q=%22Nelleke+van+der+krogt%22&media_type=video&row=25&thd=no&domain_source=SV

MediaCollector:
http://linkedtv.eurecom.fr/api/mediacollector/search/SV/%22Nelleke+van+der+krogt%22

TVEnricher:
http://linkedtv.eurecom.fr/tvenricher/api/entity/enrichment/SV?q=%22Nel

[2014-08-24 20:12] #13 closed, assigned to jluisred

[2014-08-28 11:43] m1ci commented on #1
Hi,
With the latest improvements in THD (release 3.9), this issue is solved and the entity "Martena Museum" is correctly disambiguated as http://nl.dbpedia.org/resource/Museum_Martena

Test request:
curl -X POST -d "Martena Museum" "http://entityclassifier.eu/thd/api/v2/extraction?lang=nl&entity_type=all&provenance=thd&types_filter=dbo&knowledge_base=linkedHypernymsDataset&apikey=xxxxxxxxxx&format

[2014-08-28 11:54] m1ci commented on #20
Hi,
in the latest release of THD v3.9 we include such information, which we call "entity salience". Entities with high salience score play an important role in the story described in the document. For each entity, we assign:
- entity salience class (most salient, less salient, not salient)
- confidence (for the salience class)
- salience score [0..1] - high salience score indicates higher focus of

[2014-09-02 08:07] rtroncy commented on #1
@m1ci Thanks. I run this sentence in NERD and I have selected the THD extractor, see the results at http://nerd.eurecom.fr/annotation/1516114.

Indeed, now, the surface form "Martena Museum" is now disambiguated with http://nl.dbpedia.org/resource/Museum_Martena.

However, the first occurrence "Hessel van Martena" is split into "Hessel" (wrong person) and "Martena" (again disambiguated with the mu

[2014-09-02 12:40] giusepperizzo commented on #20
cool job, thanks!

We (EURECOM folks) want to use these scores for deciding which one of the different types better classifies the entity. For instance, analyzing this text:

"Barack Hussein Obama II is the 44th and current President of the United States, and the first African American to hold the office. Born in Honolulu, Hawaii, Obama is a graduate of Columbia University and Harvard Law School,

[2014-09-04 09:36] m1ci commented on #20
Hi, let me first clear what the values mean:
- linkingConfidence:  estimated probability that entity mention is correctly linked with the DBpedia resource
- classificationConfidence: estimated probability that the type is correct for given DBpedia resource (entityURI)
- salience: estimated salience of the entity to the document, or to which extend the entity is in the focus of attention in the doc

[2014-09-04 09:41] m1ci commented on #1
Well, this is a mistake made by our entity spotting approach.

Maybe we can close this "bug" issue and open new "enhancement" issue: "entity spotting improvement for NL" with a reference on the "Hessel van Martena" case?

[2014-09-04 10:06] rtroncy commented on #1
OK, I understand that tools are not perfect, and will always make errors, so this was not my concern. I don't want that THD is being optimized for this particular sentence. What I'm worry about is the lack of proper evaluation of THD on the LinkedTV scenario. Is this something you will provide in 2.6?

I'm happy to close this issue, but I would like that for a few LinkedTV seed video programs and

[2014-09-04 10:06] #1 closed, assigned to kliegr

[2014-09-15 14:06] giusepperizzo commented on #20
Thanks, crystal clear.

Still annotating the sentence above, one of the types is as follows:

{"typeLabel":"Schools",
"typeURI":"http://dbpedia.org/resource/Schools",
"entityURI":"http://dbpedia.org/resource/Harvard_Law_School",
...}

Schools does not seem to be a DBpedia type (as far I've seen from DBpedia 3.7+) and, indeed, the typeURI points to a DBpedia resource.
It might be a bug somewhere in

[2014-09-15 14:15] m1ci commented on #20
Yes, "Schools" is not a DBpedia Ontology type.
However, the types returned by THD can be from the DBpedia instances or DBpedia Ontology namespace. If you need only DBpedia Ontology types you can filter out these types by setting the query parameter: "types_filter=dbo", or "types_filter=dbinstance" for types as DBpedia instances, or "types_filter=all" for both ;)

[2014-09-15 14:29] giusepperizzo commented on #20
Well this is what I tried before.

Click and play here (before s/KEY/yourkey). Something wrong?

curl -v "http://ner.vse.cz/thd/api/v1/extraction?apikey=KEY&format=json&provenance=thd,dbpedia&priority_entity_linking=true&entity_type=all&types_filter=dbo" -d "Barack Hussein Obama II is the 44th and current President of the United States, and the first African American to hold the office. Born in Ho

[2014-09-15 14:34] m1ci commented on #20
I see. Its a bug. Will look into it.
Thanks for reporting!

[2014-09-19 14:46] alisarioglu opened #27 "TVEnricher: syntactic errors in URLs"
- URLs in identifier separated just with a space character.

Example:

[code]
- Invalid characters:

  SP029: TURTLE RDF loader, line 25: Invalid characters in angle-bracketed name; this error can be suppressed by parser flags at &lt;http://images.textielmuseum.nl:85/wwwopac.ashx?command=getcontent&amp;server=images&amp;value=TMTploeg\TMT001300997-026.jpg&amp;width=230&amp;height=230&amp;scalemode

[2014-09-23 17:36] jluisred commented on #27
TVEnricher has been modified to rely on the JSON annotations coming from IRAPI instead of the former string based attribute in order to get the THD's entities, so TVEnricher is now free of unexpected parsing errors.

[2014-09-23 17:36] #27 closed, assigned to jluisred

[2014-09-24 13:13] alisarioglu opened #28 "TVEnricher: Still receive error state after try to enrich"
Here are my requests:

Check the state of a rbb content 59f6fb06-75c6-11e3-951c-f8bdfd0abfbd: State is 'error' and broadcaster is 'SV', but should be 'rbb'

[code]

Post with granularity 'Chapter' and broadcast 'RBB': Everthing looks good!

[code]

Check state: state is 'processing', but broadcaster is still 'SV' and granularity 'Shot'

[code]

Check state again: state is 'error'

[code]

Post wit

[2014-09-25 12:49] jluisred commented on #28
a) The enrichment of media resources is now working fine, and if you issue the POST again, you will get the expected "Processed" state at the end.

b) Regarding the query parameters which seem to not be taken into account:

For some particular shell / curl version, everything which goes after the first "&" in a URL is ignored (which means that only the first query parameter is kept). A solution is

[2014-09-25 15:52] alisarioglu commented on #28
Dear Jose,
many thanks for your support. Unfortunately, I've still problems with the results of tvenricher.
I've tested it with resources from SV and RBB.

Before I posted again, two of them were in state error, and one was not found.

SV resource:
[linkedtv@linkedtv ~]$ curl -X GET http://linkedtv.eurecom.fr/tvenricher/api/mediaresource/5fe136e0-7427-44e7-a5f0-2f7f400df58b -v
- About to connect()

[2014-09-26 09:50] jluisred commented on #28
This time it doesn't seem to be TVEnricher's fault, even a better error handling in the service would help to identify and solve those problems (I will work on this in upcoming versions).

Instead, something is wrong with the RDF data at http://lsf.linkedtv.eu/sparql. As specified in the [documentation](http://www.linkedtv.eu/wiki/index.php/Tvenricher), "The media resource annotations have to be a

[2014-09-26 11:01] alisarioglu commented on #28
Dear Jose, thanks a lot for your investigation.

1) Missing Media Resources

Issuing a query for getting all the media resources currently stored in the endpoint, you get a list of 10 items, and none of them are the two resources [SV/RBB] you want to enrich [5fe136e0-7427-44e7-a5f0-2f7f400df58b, 5fd4a616-21db-4c43-9813-29a8fe842641].

http://lsf.linkedtv.eu/sparql?default-graph-uri=&query=PREFIX+m

[2014-09-26 16:16] alisarioglu commented on #28
Dear Jose,
one of the SV content did have exmaralda entries in the triple store including shots. I used a wrong query to get shots of media resources, so with the right one I can see a lot of shots related to the resource 5fd4a616-21db-4c43-9813-29a8fe842641.

So it should work with the tvenricher. Can you please check it?

With the following query you can see the shots of a media resource (here w

[2014-09-29 10:45] alisarioglu commented on #28
Hi Jose,
perhaps it is important, you probably know that we have set up a second instance of virtuoso. The SPARQL endpoint of this second instance is reached at http://lsf.linkedtv.eu/sparql (http://data.linkedtv.eu:8892/sparql). Which is used to enrich the data

[code]

We want to replace the old with the new instance. However, the data in this triple store point to data.linkedtv.eu under which t

[2014-09-29 11:09] jluisred commented on #28
Hello Ali:

First of all, sorry for the stupid mistake in the fist query (I c&p from another query without removing the LIMIT). Indeed, the Media Resources are in the triple-store so you can ignore problem 1) . However, it seems there is still missing information for some of them.

For the resource you have pointed out (5fd4a616-21db-4c43-9813-29a8fe842641), it seems Shots are available. Remember

[2014-09-29 11:49] rtroncy commented on #28
Guys, can you please make this thread readable? Of course, you can reply to emails and your comments are automatically added up on this issue, but then, pay attention to properly quote the other emails, or even remove the quotes !!! Stop writing long URI links but make an hyperlink with a short text such as [query].

@alisarioglu and @jluisred, please, edit on github your previous comments to make

[2014-10-06 14:40] alisarioglu commented on #28
Dear Jose Luis,
as you know we switched the virtuoso triple stores. Now, all entries in the new triple store are need to enrich. So I tested it with the resource 5fd4a616-21db-4c43-9813-29a8fe842641. Unfortunately, after POST with Chapter and Shot granularity still receive 'error'.

[code]

Shots of the resource:

[code]

Chapters of the resource:

[code]

[2014-10-07 09:03] jluisred commented on #28
It seems we are progressing, but still some problems are jumping in :)

First issue: you said you are still getting errors in TVEnricher when posting the media resource http://linkedtv.eurecom.fr/tvenricher/api/mediaresource/5fd4a616-21db-4c43-9813-29a8fe842641  . I have done the calls by myself, and everything is OK. Are you doing something different? See my CURL requests below:

curl -X POST "ht

[2014-10-07 10:29] alisarioglu commented on #28
I'm sorry, I thougt that the information that we have switched the triple store is clear. I've to wrote it that this meens also, that the endpoint is http://data.linkedtv.eu/sparql again. If you call the SPARQL endpoint http://lsf.linkedtv.eu/sparql, you will direct to the old triple store.

So, the calls should be as follow:

With granularity chapter:

[code]

With granularity shot:

[code]

[2014-10-07 10:32] jluisred commented on #28
Yes, we have been discussing about this during WP2 Telco and indeed I thought the current SPARQL endpoint was http://lsf.linkedtv.eu/sparql . Jan told me you switched back to the original one http://data.linkedtv.eu/sparql, so I'm testing now with data in there.

[2014-10-07 13:28] jluisred commented on #28
So now we are again at the starting point:
- We have the media fragments to link to (Shots and Chapters). The queries you proposed return the expected results.
- There are 0 entities for the media resource 5fd4a616-21db-4c43-9813-29a8fe842641, see this [SPARQL query](http://tinyurl.com/opedwqk) on http://data.linkedtv.eu/sparql

Some further checks:
1) The serialization file at TV2RDF contains the

[2014-10-07 16:20] alisarioglu commented on #28
In case of media resource 5fd4a616-21db-4c43-9813-29a8fe842641, you are right. They are no entites from subtitle serialization.

We created scripts for the serialization. These scripts based on data from the admin DB to find the correct SRT file reference for the resource. Unfortunately some resources have no SRT entries in this DB. So I have to find the resources, which have no SRT files and crea

[2014-10-07 18:18] #28 closed, assigned to jluisred

[2014-10-07 18:20] rtroncy commented on #28
From this discussion, I see no bugs in TVEnricher and I suggest you carefully check what is going on on your side, depending on the calls you made, using the numerous SPARQL query examples provided in this thread. Closing the issue.

[2014-10-08 10:35] lyndonnixon commented on #11
Hi, intermediate testing for images crawled from Museum Martena site (http://ir.lmcloud.vse.cz/irapi/media-server/?q=source_webpage_url:%22museummartena.nl%22&media_type=image&row=100000&thd=yes) returns first non-working URLs e.g. http://www.museummartena.nl/images/museummartena.jpg

[2014-10-08 11:45] rtroncy commented on #11
Indeed, from the micropost URL, the image is at http://www.museummartena.nl/themes/museummartena/images/museummartena.jpg and not http://www.museummartena.nl/images/museummartena.jpg. A bug in your crawler @kliegr ?

[2014-10-08 12:17] kliegr commented on #11
The website simply changed the location of the image and the Nutch has not yet rediscovered that the picture is gone. It may of course  be that it has not been removed due to a bug. We plan to do a review of the cleanup process.

[2014-10-08 12:47] lyndonnixon opened #29 "Europeana module: use the API instead of the SPARQL endpoint"
Hi, we should agree and finalise the means to enrich TKK content with Europeana items. I am keen with Lotte to prototype something in the next 3 weeks that could be part of the EUScreenXL presentation.

We know that http://www.linkedtv.eu/wiki/index.php/Europeana_Module is OK but not perfect, not only because we need less constrained queries (e.g. "Hessel Martena" SPARQL query works once less cons

[2014-10-08 12:59] rtroncy commented on #29
@lyndonnixon We should clearly switch to the API instead of the SPARQL endpoint to get enrichments from Europeana. This work will start post-ISWC and should be finished before the 3rd year review.

[2014-10-08 13:11] rtroncy commented on #29
Tagging @michielhildebrand and @lottebelice

[2014-10-08 13:31] m1ci commented on #20
The bug is solved. Please check.
BTW, you are using old version v1 of the API. Please switch to version v2.
The endpoint of the new API is: http://ner.vse.cz/thd/api/v2/extraction

[2014-10-08 13:38] rtroncy commented on #20
AFAIK, we did switch to the version 2 of the API months ago! @jluisred can you please confirm since you did the switch?
Please, don't close this issue until it is really solved, i.e. solved in the LinkedTV platform, so also in NERD.

[2014-10-08 13:42] jluisred commented on #20
Yes, NERD switched to THD v2 some time ago, the former was just an example from @giusepperizzo . We'll propagate the change asap.

[2014-10-08 13:47] lottebelice commented on #29
What I'd want for the EUscreen conference  is to show a version of LinkedCulture in which we've enriched the content with EUscreen content that is findable through Europeana [1]. When I search on the ET on 'euscreen' or part of a title that is on Europeana from an EUscreen partner ('delphine' [2]), I get nothing.

However, looking at the timeline for this issue (post ISWC up to Y3 review), @lyndon

[2014-10-08 14:09] giusepperizzo commented on #20
Just as clarification: NERD points to https://entityclassifier.eu/thd/api/v2/extraction, that as far as I can see from the traceroute is resolved as 146.102.167.46, same IP address of http://ner.vse.cz/thd/api/v2/extraction. I hope it's also the same virtual host. Isn't it? Hence, NERD does use the v2. In the example above (_curl_) I erroneously used the v1 , my fault sorry.

Anyway, now I reckon

[2014-10-08 14:10] rtroncy commented on #29
@lottebelice You want to have the Europeana enrichments in the editor tool, right? At the moment, you get nothing because Jaap is solely calling Europeana via TVEnricher so this is normal. A quick workaround is for Jaap to simply call the Europeana API instead of the Europeana module of TVEnricher as an interim solution.

[2014-10-08 15:26] lyndonnixon commented on #23
can i ask again about the status - "that the micropost field contains TITLE and DESCRIPTION fields"
just to add the email confirmation of the related matter - inclusion of a DIMENSION parameter - is ETA'd for before the review (so by end of November)

[2014-10-08 15:45] lottebelice commented on #29
Sounds good! Now....how can I tag Jaap in this issue? If I type @jblom, nothing happens. @rtroncy Do you need to add him? Or should I add a separate issue to the ET Github issue list [1]?

[1] https://github.com/linkedtv/editortool/issues/

[2014-10-08 15:51] rtroncy commented on #23
@lyndonnixon there is now a longer list of requirements coming from @michielhildebrand, see the [details](https://lists.iais.fraunhofer.de/sympa/arc/linkedtv-wp2/2014-10/msg00004.html). I think we will make just one update, by end of November.

[2014-10-08 15:54] rtroncy commented on #29
Now it does, I have indeed added @jblom to the WP2 team, the largest LinkedTV team now :+1:

[2014-10-08 16:53] michielhildebrand commented on #29
Most likely the Europeana API allows a filter on something like collection. The documentation should tell you. Jaap could configure a dimension in the editor tool to include this filter. We can also directly include it in a dimension of the culture application or add a dimension. Let us know if you need that.

[2014-10-08 17:55] m1ci commented on #20
@giusepperizzo please check again. It should be everything OK now.

[2014-10-09 07:18] rtroncy commented on #29
The Europeana API documentation you need is at http://labs.europeana.eu/api/query/. The query syntax is simple. To realize @lottebelice use case, you will need to do a basic search + use the facet parameter (qf) with the value PROVIDER ... so something like: http://www.europeana.eu/api/v2/search.json?wskey=xxxx&query=Hessel+Martena&qf=PROVIDER:EUScreen+Project

[2014-10-09 10:04] rtroncy commented on #20
Thanks @m1ci. We have updated the public instance of NERD as well which closes this bug. The implemented logic is: we use the classificationConfidence score to select the most appropriate type for NERD before linking to the NERD ontology.

Have a look at http://nerd.eurecom.fr/annotation/1521982 which has been analyzed with THD. "Pentagon" and "Turkish" are two surface forms you have extracted wit

[2014-10-09 10:04] #20 closed, assigned to kliegr

[2014-10-09 14:11] m1ci commented on #20
Happy to hear this.

OK. However, I think a better option is to go with the "most specific" in the DBpedia Ontology. But, maybe this is not what you want to achieve.

In near feature we will integrate a more efficient entity linking approach which we evaluate at TAC'14. I just checked, and with the this new approach "Pentagon" should be linked to http://dbpedia.org/resource/The_Pentagon and "Kurdi

[2014-10-09 14:24] giusepperizzo commented on #20
We favor precision in typing, this is why we sort it according to the classificationConfidence score. In case of multiple types that have the same highest classificationConfidence score (that occurs pretty often) we select the most specific type.

About the linking, yep I confirm that we use LuceneSearch.

Thanks for your answers and thanks for your work.

[2014-10-29 15:52] lyndonnixon opened #30 "TVEnricher: some indexing issues with (probably) MediaCollector"
From our experiment for EUScreenXL:

TVEnricher [1] does get a lot of wikimedia images for videophone. It also returns one video from openimages.eu which has the same label as ours but a different URL (http://openimages.eu/media/22071/Rijkstelegraaf_bestaat_honderd_jaar). A mistake in the indexing process?

Even better, TVEnricher with "beeldtelefoon" [2] returns 5 videos (including our own one).

[2014-11-04 14:15] rtroncy commented on #14
More details in [Michiel's email](https://lists.iais.fraunhofer.de/sympa/arc/linkedtv-wp2/2014-10/msg00004.html)

[2014-11-04 14:17] rtroncy commented on #14
Michiel said there is not strong requirement concerning this, www. domain names have been already removed so no further action needed by now.

[2014-11-04 14:17] #14 closed, assigned to kliegr

[2014-11-06 10:43] lyndonnixon commented on #23
Note on dimensions in the TVEnricher and TVNewsEnricher responses:

"Here, we would expect WP2 to be able to return dimensions in their service responses, for TKK this is very nicely mapped to the wrapped services which respond (IRAPI -> the "Background" dimension, Europeana -> the "Related Works" dimension, TV2Lucene -> the "Related Chapters" dimension). For RBB we have a time parameter which pla

[2014-11-09 12:44] rtroncy commented on #4
@kliegr Can you please let us know when the re-indexing is complete and when we can close this issue?

[2014-11-09 12:45] rtroncy commented on #11
@kliegr Do you have any update regarding this bug?

[2014-11-09 12:47] rtroncy commented on #23
Both the JSON output and the TTL output of TVEnricher will use the proposed method adding an additional motivation for classifying the LinkedTV enrichments

[2014-11-09 12:47] #23 closed, assigned to jluisred

[2014-11-09 12:49] rtroncy commented on #26
This bug has currently a very low priority ... we are not sure that it will be resolved by the end of the LinkedTV development given the little use of legacy metadata in end-user applications currently developed by LinkedTV

[2014-11-10 17:25] cervebar commented on #11
the cleanup of irapi webpage index has finished. Now we are performing the
cleanup of the media indexes. Given the large number of objects indexed and
the corresponding volume of HTTP request, this is estimated to take 10-14
days. Once the cleanup has finished, this should resolve github issues #4,
#11.

[2014-11-12 11:53] lyndonnixon commented on #11
The AVRO TKK webpage seems to have been relaunched with a different layout for the player pages
e,g, http://web.avrotros.nl/tussenkunstenkitsch/player/POMS_AVRO_677869/

WIll this affect IRAPI results for the TKK scenario?

[2014-11-13 08:21] cervebar commented on #4
info: The cleanup of irapi webpage index has finished. Now we are performing the cleanup of the media indexes. Given the large number of objects indexed and the corresponding volume of HTTP request, this is estimated to take 3-6 days. Once the cleanup has finished, this should resolve github issues #4, #11.

[2014-12-02 15:01] rtroncy commented on #11
@cervebar Tracking down this issue, can we close it? Is the cleanup of the irapi webpage index finished? Can you provide evidences for this?

[2014-12-02 15:02] rtroncy commented on #4
Following my comments on issue #11 can we close this issue as well? Can you please provide evidences that we don't have anymore duplicate results?

[2014-12-03 08:08] cervebar commented on #11
@rtroncy
Cleanup removes aproximately
video: 8000 from 55000
image: 250 000 from 1 400 000
podcast: 8000 from 25000
As I wrote in my previous email,
<i>
Unfortunately it doesn't mean, that these not valid urls(media or webpage) can't be there again, because the index is in constant crawling progress.
 In this time we are working on continuous cleaning process, so these inconvenience should be mini

[2014-12-03 09:03] rtroncy commented on #11
I'm happy to close this issue if I see evidences that the bug is fixed, i.e. if you show me you have done significant tests that demonstrate that this issue is resolved minus the caveat you mentioned.

In the current state, simple tests I'm doing seem to fail :-(
Examples:
- http://ir.lmcloud.vse.cz/irapi/media-server/?q=source_webpage_url:%22museummartena.nl%22&media_type=video&row=100000&thd=yes

[2014-12-03 09:34] cervebar commented on #11
@rtroncy
1)
The queries are in wrong format, the IRAPI has changed according to requirements (2 months ago).
There is no more support for this type of query. For better understanding IRAPI works more like a Google search, but over a smaller set of webpages.

full documentation is here: http://www.linkedtv.eu/wiki/index.php/UEP_unstructured_search_module
example query:
http://ir.lmcloud.vse.cz/irap

[2014-12-03 11:06] rtroncy commented on #11
I just picked up queries written earlier in this thread. Indeed, IRAPI has changed substantially over the last months. Are you saying I cannot search for videos on a particular source site? Can you use joker (e.g. '*') in my search term query?

boutique.arte.tv should be a new line (this is a new host) and there is clearly no reason why it is linked to museummartena.nl !

Again, before closing thi

[2014-12-03 11:23] cervebar commented on #11
<i>I just picked up queries written earlier in this thread. Indeed, IRAPI has changed substantially over the last months. Are you saying I cannot search for videos on a particular source site? Can you use joker (e.g. '*') in my search term query?</i>
Jokers are not allowed, query is reinterpreted by IRAPI (recognizes if it comes as a phrase query, term query or one term) and there is a cascade of

[2014-12-03 12:18] rtroncy commented on #11
OK. Thanks for the clarification. Let us know what's your schedule and plans for this testing then.

[2014-12-08 11:55] cervebar commented on #11
@rtroncy

<ul>
<li>
I have deployed Cleanup job, that runs weekly on all data, if webpage status is GONE then it is removed.
</li>
<li>
Second check is now also in IRAPI, urls with different status  code than 200 are filtered, and marked for deletion.
</li>
<li>
But it is "neverending" story as I see, there are still special cases, that are not generally recognizable - for example avro responses w

[2014-12-08 14:38] rtroncy commented on #11
Thanks for this follow-up. I agree, this is a "never-ending" story and indeed, there is not much you can do for sites that return you a 200 OK but a message telling you that the resource is no longer available for whatever reason.

Just to understand your test: you submit those 5 queries to IRAPI for each media type, you count the number of results returned by IRAPI. They ALL have a 200 OK  code.

[2014-12-08 16:01] cervebar commented on #11
Yes, thats what I did. I just limit number of returned rows.

[2014-12-08 21:57] rtroncy commented on #11
Thanks. This closes this issue. Now, please, let's work on issue #4. What is the status?

[2014-12-08 21:57] #11 closed, assigned to kliegr

[2015-05-10 10:01] rtroncy commented on #29
@lyndonnixon has produced some code that has not been integrated

[2015-05-10 10:01] #29 closed

[2015-05-10 10:02] rtroncy commented on #26
This hasn't been implemented during the course of the project. This can clearly be a new feature to add in TV2RDF if this requirement pops-up again.

[2015-05-10 10:02] #26 closed

[2015-05-10 10:03] #4 closed

[2015-05-10 10:09] rtroncy commented on #10
This has been largely dealt with by the editor tool which enables to edit information cards

[2015-05-10 10:09] #10 closed

[2015-05-10 10:10] rtroncy commented on #30
This was actually related to IRAPI rather than MediaCollector and has been fixed

[2015-05-10 10:10] #30 closed